<!DOCTYPE html>
<html ng-app="myModule">
<head>
    <title></title>
    <script src="Scripts/angular.min.js"></script>
    <script src="Scripts/Script.js"></script>
    <link href="Scripts/StyleSheet1.css" rel="stylesheet" />
    <meta charset="utf-8" />
</head>
<body>
<div ng-controller="cntrl">
    Search here: <input type="text" placeholder="search student" ng-model="searchText.sName" />
    <table>
        <thead>
        <tr>
            <th>Name</th>
            <th>Gender</th>
            <th>Age</th>
            <th>Salary (numerics)</th>
            <th>Salary (currency)</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="student in studentDetails | filter:searchText">
            <td>{{student.sName | uppercase}}</td>
            <td>{{student.sGender | lowercase}}</td>
            <td>{{student.sBirth | date:"MM/dd/yy"}}</td>
            <td>{{student.sSalary| number:2}}</td>
            <td>{{student.sSalary | currency:"$":1}}</td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
